<h3>Welcome to Do Your Share</h3>

<div>
  <p>Help us clean up the streets.  All you need to do is enter in your email address and click the get started button.  We will then show you different street view photos and you'll rate them from 1 to 4 in cleanliness, like the examples shown below.  Then finally, at the end we will show you your summary.  The best part of this experience is that to thank you for helping us out you'll be earning community service hours! </p>
</div>

<div class="container">


<div class="row">
  <div class="col-md-3">
    <%= image_tag ("1.jpg") %>
    <br>
    Rating 1 - No litter
  </div>
  <div class="col-md-3">
    <%= image_tag ("2.JPG") %>
    <br>
    Rating 2 - Slightly littered 
  </div>
  <div class="col-md-3">
    <%= image_tag ("3.jpg") %>
    <br>
    Rating 3 - Littered
  </div>
  <div class="col-md-3">
    <%= image_tag ("4.jpg") %>
    <br>
    Rating 4 - Extremely littered
  </div>
</div>


<div style="clear:both" class="clearfix"></div>


<div class="row" style="padding-top:30px">
  <div class="col text-center col-md-12">
    <%= form_for User.new, url: "/login" do |f| %>
    <%= f.text_field :email, placeholder:"Please enter your email" %>
    <%= f.submit "Get Started" %>
    <% end %>
  </div>
</div>
</div>