<p id="notice"><%= notice %></p>

<h1>Location Ratings</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Lat</th>
      <th>Long</th>
      <th>Rating</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @location_ratings.each do |location_rating| %>
      <tr>
        <td><%= location_rating.lat %></td>
        <td><%= location_rating.long %></td>
        <td><%= location_rating.rating %></td>
        <td><%= location_rating.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


